aiosqlite==0.22.1
annotated-types==0.8.0
anyio==4.15.1
async-timeout==5.0.1
asyncua==2.0.1
cffi==2.1.1
cryptography==50.0.1
fakeredis==2.38.0
idna==3.20
iniconfig==2.3.0
lupa==2.8
packaging==26.3
pluggy==1.6.0
pycparser==3.0
pydantic==2.13.5
pydantic_core==2.46.5
Pygments==2.21.0
pyOpenSSL==26.4.0
pytest==9.1.1
python-dateutil==2.9.0.post0
pytz==2026.3.post1
redis==8.1.0
six==1.17.0
sortedcontainers==2.4.0
typing-inspection==0.4.4
typing_extensions==4.16.0
wait_for2==0.4.1
Django~=5.0.6
djangorestframework~=3.15.1
channels~=4.1.0
channels-redis~=4.2.0
uvicorn[standard]~=0.30.1
dj-database-url~=2.2.0
psycopg[binary]~=3.1.19